<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="example.android.laioh.bshop">

    <!-- Include following permission for allowing applications to connect to paired bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- Include following permission for allowing applications to discover and pair bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="example.android.laioh.bshop.locationapi.maps.permission.MAPS_RECEIVE"/>

    <permission
        android:name="example.android.laioh.bshop.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BeaconScanListActivity">
        </activity>
        <activity android:name=".activity.BeaconInfoWriteActivity">
        </activity>
        <activity android:name=".activity.WriteShopInfoActivity">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtKhSczD3Avq7LZrrzP_2oCc_kFYO4rl0"/>

        <activity android:name=".activity.MyPageActivity">
        </activity>
        <activity android:name=".activity.MyShopListActivity">
        </activity>

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activity.NotifiCouponActivity"
                  android:theme="@style/Theme.AppCompat.Transparent">
        </activity>
    </application>

</manifest>